<%= render_errors cancellation_reason %>

<%= form_for [:admin, cancellation_category, cancellation_reason] do |f| %>
    <div class="row">
      <div class="input-field col s12 m6 l6">
        <%= f.text_field :name, class: 'active' %>
        <%= f.label :name, 'Nome' %>
      </div>
      <div class="input-field col s12 m6 l6">
        <p>
        <%= f.check_box :active %>
        <%= f.label :active, 'Attivo' %><br>
        </p>
        <p>
        <%= f.check_box :allow_message %>
        <%= f.label :allow_message, 'Messaggio permesso' %><br>
        </p>
        <p>
        <%= f.check_box :require_message %>
        <%= f.label :require_message, 'Messaggio richiesto' %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <%= f.submit 'Salva', class: 'btn btn-large green' %>
        <% if cancellation_reason.new_record? %>
            <%= link_to 'Annulla', admin_cancellation_category_cancellation_reasons_path(cancellation_category), class: 'btn btn-large red' %>
        <% else %>
            <%= link_to 'Annulla', admin_cancellation_category_cancellation_reason_path(cancellation_category, cancellation_reason), class: 'btn btn-large red' %>
        <% end %>
      </div>
    </div>
<% end %>
