<% if Rails.env.production? %>
<%= missing_env_notice 'SECRET_KEY_BASE' %>
<% end %>
<%= missing_env_notice 'STRIPE_API_KEY' %>
<%= missing_env_notice 'STRIPE_PUBLISHABLE_KEY' %>

<% if flash.key?(:alert) %>
  <div class="alert alert-danger alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><%= flash[:alert] %></div>
<% end %>
<% if flash.key?(:notice) %>
  <div class="alert alert-info alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button><%= flash[:notice] %></div>
<% end %>

