<%= render_errors cancellation_category %>

<%= form_for [:admin, cancellation_category] do |f| %>
    <div class="row">
      <div class="input-field col s12 m6 l6">
        <%= f.label :name, 'Nome' %>
        <%= f.text_field :name %>
      </div>
      <div class="col s12 m6 l6">
        <p>
          <%= f.check_box :active %>
          <%= f.label :active, 'Attivazione' %>
        </p>
        <p>
          <%= f.check_box :allow_message %>
          <%= f.label :allow_message, 'Consenti messaggio' %>
        </p>
        <p>
          <%= f.check_box :require_message %>
          <%= f.label :require_message, 'Messaggio richiesto' %>
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <%= f.submit 'Salva', class: 'btn btn-large green' %>
        <% if cancellation_category.new_record? %>
            <%= link_to 'Annulla', admin_cancellation_categories_path, class: 'btn btn-large red' %>
        <% else %>
            <%= link_to 'Annulla', admin_cancellation_category_path(cancellation_category), class: 'btn btn-large red' %>
        <% end %>
      </div>
    </div>
<% end %>
