<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= page_title separator: ' | ' %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body class="<%= body_class %> marketing-page">
<%= render 'shared/navbar', sidebar_menu: @sidebar_menu, sidebar_item: @sidebar_item %>

    <div id="wrapper">

<%= render 'shared/heading' %>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12">

<%= render 'shared/flash' %>

<%= yield %>
          </div>
        </div>

<%= render 'shared/footer' %>
      </div> <!-- .container-fluid -->
    </div> <!-- #wrapper -->

<%= yield :footer %>
  </body>
</html>
